/*.pyc
/groupdocs/*.pyc
/groupdocs/models/*.pyc
/tests/*.pyc
/tests/unit/*.pyc
/tests/integration/*.pyc
/__pycache__
/groupdocs/__pycache__
/groupdocs/models/__pycache__
/tests/__pycache__
/tests/unit/__pycache__
/tests/integration/__pycache__
/build/
/dist/
MANIFEST
.project
.pydevproject
ignored
